
body {	

font-family: 'Fira Sans', sans-serif;
color: #443214;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;

background-color: #fbac2d; /*orange background*/

}

.mainBody{
margin: 10px;
border-radius: 25px;
min-height: 600px;
border-radius: 10px;
	border:  2px solid #443214;
	background-color: white;
	padding: 10px;
	text-align: center;
}
.ref{

	font-size: 12px;
}